/* REGOLE RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* REGOLE GENERALI */
body {
    font-family: 'PT Sans', sans-serif;
}

:root {
    --primary-color: #0084fd;
    --primary-color-light: #b5ddff;
    --secondary-color: #9792e4;
    --text-yellow:#fdc15f;
    --bg-footer: #333333; 

}

.color-white {
    color: white;
}

.flex {
    display: flex;
}

.wrap {
    flex-wrap: wrap;
}

.space-btw {
    justify-content: space-between;
}

.flex-end {
    align-items: flex-end;
}

.container {
    max-width: 700px;
    margin: 0 auto;
}

.margin-middle {
    margin: 0 3em;
}

.margin-small {
    margin: 0 5em;
}

.text-align {
    text-align: center;
}

/* REGOLE HEADER */
#intro {
    background-color: var(--primary-color);
}

#intro .col {
    margin: 1em 1em;
}



/* REGOLE MAIN */
/* Section 1 */
#section-1 .columns {
    margin: 3em 1em;
}

#section-1 .col {
    background-color: var(--primary-color-light);
    width: 32%;
    margin-bottom: 0.5em;
}

#section-1 .col-special {
    background-color: var(--primary-color-light);
    width: 66%;
    margin-bottom: 0.5em;
}
/* chiedere perchè non funziona con flex-grow -- perchè c'è width impostata? */

#section-1 .box {
    width: 50%;
}

/* Section 2 */
#section-2 {
    background-color: var(--secondary-color);
}

#section-2 .columns {
    margin: 3em 6em;
}

#section-2 .col {
    width: 50%;
}





/* REGOLE FOOTER */












/* REGOLE RESPONSIVE */


/* Mobile */
/* Header - margini già specificati in css - tengono per Mobile*/

/* Section-1 */



/* Tablet */
/* Header - risolto da Mobile */

/* Section-1 */


/* Desktop c'è già*/
