/* REGOLE RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* REGOLE GENERALI */
body {
    font-family: 'PT Sans', sans-serif;
}

:root {
    --primary-color: #0084fd;
    --primary-color-light: #b5ddff;
    --secondary-color: #9792e4;
    --tertiary-color: white;
    --text-yellow:#fdc15f;
    --bg-footer: #333333; 

}


.flex {
    display: flex;
}

.wrap {
    flex-wrap: wrap;
}

.space-btw {
    justify-content: space-between;
}

.flex-end {
    align-items: flex-end;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}

.margin {
    margin: 3em 1em;
}

.margin-middle {
    margin: 3em 6em;
}

.margin-small {
    margin: 0em 8em;
}

.text-align {
    text-align: center;
}

/* REGOLE HEADER */
#intro {
    background-color: var(--primary-color);
}

#intro .col {
    margin: 1em 1em;
}

#intro .col i {
    display: none;
}


/* REGOLE MAIN */
/* Section 1 */
#section-1 .col {
    background-color: var(--primary-color-light);
    width: 32%;
    margin-bottom: 0.5em;
}

#section-1 .col-special {
    background-color: var(--primary-color-light);
    width: 66%;
    margin-bottom: 0.5em;
}
/* chiedere perchè non funziona con flex-grow -- perchè c'è width impostata? */

#section-1 .box {
    width: 50%;
}


/* Section 2 */
#section-2 {
    background-color: var(--secondary-color);
}


#section-2 .col {
    width: 50%;
}


/* Section 3 */
#section-3 .text {
    margin-bottom: 2em;
}

#section-3 .card {
    background-color: var(--secondary-color);
    width: 100%;
    margin-bottom: 0.5em;

    height: 100px; 
}
/* height da togliere quando aggiunto contenuto */


#section-3 .box:first-child {
    width: 20%;
}

#section-3 .box:last-child {
    width: 80%;
}


/* Section 4 */
#section-4 {
    background-color: var(--secondary-color);
}

#section-4 .columns {
    padding-bottom: 2em;
}

#section-4 .col {
    background-color: var(--tertiary-color);
    width: 32%;
    margin-bottom: 1em;
    

    height: 150px;
}
/* height da togliere quando aggiunto contenuto */

/* Sezione 5 */
#section-5 .columns {
    padding: 3em 0;
    margin: 0 1em;
}

#section-5 .col:first-child {
    width: 70%;
}

#section-5 .col:last-child {
    width: 30%;
}

#section-5 p {
    padding: 1em 1em 0 0;
}

/* Sezione 6 */
#section-6 {
    background-color: var(--secondary-color);
}


#section-6 .texts > * {
    padding-bottom: 1em;
}


#section-6 .texts a {
    display: block;
}


#section-6 .text:first-child {
    padding-top: 3em;
}

#section-6 .text:last-child {
    padding-bottom: 3em;
}



/* REGOLE FOOTER */
#end {
    background-color: var(--bg-footer);
    color: white;
}

#end .text:first-child {
    padding-top: 3em;
}

#end .text:last-child {
    padding-bottom: 3em;
}

#end .texts > * {
    padding-bottom: 1em;
}






/* REGOLE RESPONSIVE */

/* Tablet > 768px */
/* Header */
@media screen and (max-width: 768px) {
    #intro .col i {
        display: block;
    }
    
    #intro .col nav {
        display: none;
    }
}

/* Main - section 1 */
@media screen and (max-width: 768px) {
    /* #section-1 .box {
        width: 100%;
    }  chiedere perchè non funziona */ 

    #section-1 .col-special {
        flex-direction: column;
    }
}

/* Main - section 2 */
@media screen and (max-width: 768px) {
    #section-2 .columns {
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }

    #section-2 .col {
        padding: 10px;
    }
}


/* Mobile > 480px */
/* Main - section 1 */
@media screen and (max-width: 480px) {
    #section-1 .columns > * {
        width: 100%;
    }
}