/* REGOLE RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* REGOLE GENERALI */
body {
    font-family: 'PT Sans', sans-serif;
}

:root {
    --primary-color: #0084fd;
    --primary-color-light: #b5ddff;
    --secondary-color: #9792e4;
    --light-color: #FFFFFF;
    --dark-color: #000000;
    --quite-dark-color: #808080; 
    --text-yellow:#fdc15f;
    --bg-footer: #333333; 

}


.flex {
    display: flex;
}

.wrap {
    flex-wrap: wrap;
}

.space-btw {
    justify-content: space-between;
}

.flex-end {
    align-items: flex-end;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}

.margin {
    margin: 3em 1em;
}

.margin-middle {
    margin: 3em 6em;
}

.margin-small {
    margin: 0em 8em;
}

.text-align {
    text-align: center;
}

img {
    width: 100%;
}

.button {
    border-radius: 20px;
    background-color: var(--light-color);
    color: black;
    padding: 0.5em;
}

.color-primary {
    color: var(--primary-color);
}

.color-dark {
    color: var(--dark-color);
}

.color-quite-dark {
    color: var(--quite-dark-color);
}




/* REGOLE HEADER */
#intro {
    background-color: var(--primary-color);
    position: sticky;
    top: 0;
    z-index: 30;
}

#intro .columns {
    align-items: center;
}

#intro .col {
    margin: 1em 1em;
}

#intro .col i {
    display: none;
    color: var(--light-color);
}

#intro ul li {
    list-style: none;
    display: inline-block;
    padding-left: 1em;
    padding-right: 1em;
}

#intro ul li a {
    text-decoration: none;
}

#intro ul li a:not(.button) {
    color: var(--light-color);
}





/* REGOLE MAIN */
/* Section 1 */
#section-1 {
    scroll-margin-top: 6em;
}

#section-1 .col {
    background-color: var(--primary-color-light);
    width: 32%;
    margin-bottom: 0.5em;
    border-radius: 15px;
}

#section-1 .col-special {
    background-color: var(--primary-color-light);
    width: 66%;
    margin-bottom: 0.5em;
    border-radius: 15px;
}
/* chiedere perchè non funziona con flex-grow -- perchè c'è width impostata? */

#section-1 .box {
    width: 50%;
}

#section-1 .col > * {
    padding: 0 10px 10px 10px;
}

#section-1 i:first-child {
    padding-top: 10px;
}

#section-1 p {
    font-size: 0.9em;
    font-weight: bold;
}

#section-1 .box .button {
    background-color: var(--primary-color);
    color: var(--light-color)
}

#section-1 .box a {
    text-decoration: none;
    margin-left: 0.5em;
}

#section-1 .box > h3 {
    padding: 10px 20px 10px 10px;
}

#section-1 .box > p {
    padding: 0px 20px 10px 10px;
}

#section-1 img {
    width: 70%;
    padding-top: 2em;
}



/* Section 2 */
#section-2 {
    background-color: var(--secondary-color);
    scroll-margin-top: 6em;
}

#section-2 .columns {
    padding: 3em 0;
}

#section-2 .col {
    width: 50%;
}

#section-2 .col .box {
    color: var(--light-color);
}


#section-2 .col .box p {
    font-size: 0.9em;
    padding-top: 3em;
    padding-right: 2em;
}

#section-2 .col:last-child {
    padding-left: 3em;
}

#section-2 .col-right {
    background-color: var(--light-color);
    border-radius: 15px;
    flex-direction: column;
    align-items: center;
    padding: 2em;
}

#section-2 .col-right > * {
    padding-bottom: 1em;
}

#section-2 .col-right img {
    width: 60%;
}

#section-2 .col-right p {
    font-style: italic;
}


#section-2 .col-right i {
    background-color: var(--secondary-color);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    text-align: center;
    padding-top: 15px;
}



/* Section 3 */
#section-3 {
    scroll-margin-top: 6em;
}

#section-3 .texts div {
    font-size: 0.8em;
}

#section-3 .texts h2 {
    color: var(--secondary-color);
}

#section-3 .texts p {
    font-size: 0.8em;
}

#section-3 .text {
    margin-bottom: 2em;
}

#section-3 .card {
    background-color: var(--secondary-color);
    width: 100%;
    margin-bottom: 0.5em;
    border-radius: 15px;
}
/* height da togliere quando aggiunto contenuto */

#section-3 .card {
    justify-content: center;
    align-items: center;
}

#section-3 .box:first-child {
    width: 20%;
}

#section-3 .card img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    display: inline-block;
    border-radius: 50%;
    padding: 10px;
}

#section-3 .card .quote {
    font-size: 0.8em;
    color: var(--light-color);
}

#section-3 .card .quote p {
    padding-bottom: 2em;
}

#section-3 .box:last-child {
    width: 80%;
}




/* Section 4 */
#section-4 {
    background-color: var(--secondary-color);
    scroll-margin-top: 6em;
}

#section-4 h2 {
    color: var(--light-color);
    padding: 3em;
}

#section-4 .columns {
    padding-bottom: 2em;
}

#section-4 .col {
    background-color: var(--light-color);
    width: 32%;
    margin-bottom: 1em;
    border-radius: 15px;
    padding: 2em;
}

#section-4 .col > * {
    padding-bottom: 1em;
    color: var(--secondary-color);
}

#section-4 .col > div {
    font-size: 2em;
    font-weight: bold;
}

#section-4 .col > p {
    font-size: 0.8em;
    color: var(--quite-dark-color);
}

#section-4 .col > a {
    background-color: var(--secondary-color);
    color: var(--light-color);
    text-decoration: none;
    font-weight: bold;
    padding: 5px 30px;
    font-size: 0.8em;
}




/* Sezione 5 */
#section-5 {
    scroll-margin-top: 6em;
}

#section-5 .columns {
    padding: 3em 0;
    margin: 0 1em;
}

#section-5 .col:first-child {
    width: 70%;
    padding: 0 5em 0 1em;
}

#section-5 .col:last-child {
    width: 30%;
    padding: 0 1em 0 1em;
}


#section-5 h2 {
    color: var(--secondary-color);
    font-size: 3em;
}

#section-5 .col:first-child p {
    padding: 1em 1em 0 0;
    font-size: 0.8em;
    color: var(--quite-dark-color);
    line-height: 2em;
}

#section-5 .col:last-child > * {
    padding-bottom: 1em;
}


#section-5 .col:last-child .img-special {
    color: var(--secondary-color);
}

#section-5 .img-special i {
    position: relative;
    left: 120px;
    bottom: 150px;
}

#section-5 .col:last-child img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    display: block;
    border-radius: 50%;
    padding: 10px;
}


#section-5 .col:last-child p {
    color: var(--secondary-color);
    font-size: 1em;
    font-weight: bold;
    width: 150px;
}

#section-5 .col:last-child > a {
    background-color: var(--secondary-color);
    color: var(--light-color);
    text-decoration: none;
    font-weight: bold;
    padding: 5px 10px;
    font-size: 0.8em;
}





/* Sezione 6 */
#section-6 {
    background-color: var(--secondary-color);
    scroll-margin-top: 6em;
}

#section-6 .texts a {
    display: block;
}


#section-6 .text:first-child {
    padding-top: 3em;
    padding-bottom: 2em;
    color: var(--quite-dark-color);
    font-size: 0.8em;

}

#section-6 h3 {
    color: var(--light-color);
    padding-bottom: 2em;
}

#section-6 h2 {
    color: var(--text-yellow);
    font-size: 4em;
    padding-bottom: 0.5em;
}

#section-6 p {
    color: var(--light-color);
    font-size: 0.8em;
    padding: 0em 18em 2em;
}

#section-6 a {
    color: var(--secondary-color);
    font-size: 0.8em;
    font-weight: bold;
    text-decoration: none;
    margin: 0em 20em 2em;
    /* display: inline-block; */
    /* non riesco a centrare il link */
}

#section-6 .text:last-child {
    margin: 0em 15em;
    padding-bottom: 3em;
}

#section-6 span {
    font-size: 0.7em;
    color: var(--light-color);
}

/* REGOLE FOOTER */
#end {
    background-color: var(--bg-footer);
    color: white;
}

#end .text:first-child {
    padding-top: 3em;
}

#end .text:last-child {
    padding-bottom: 3em;
}

#end .texts > * {
    padding-bottom: 1em;
    font-size: 0.6em;
}

#end p {
    padding: 1em;
    margin: 0em 25em 2em;
}





/* REGOLE RESPONSIVE */

/* Tablet > 768px */
/* Header */
@media screen and (max-width: 768px) {
    #intro .col i {
        display: block;
    }
    
    #intro .col nav {
        display: none;
    }
}

/* Main - section 1 */
@media screen and (max-width: 768px) {
    /* #section-1 .box {
        width: 100%;
    }  chiedere perchè non funziona */ 

    #section-1 .col-special {
        flex-direction: column;
    }

    #section-1 .col-special .box {
        width: 100%;
    }

    #section-1 .col-special .box:last-child {
        margin-top: 20px;
    }
}


/* Main - section 2 */
@media screen and (max-width: 768px) {
    #section-2 .columns {
        flex-direction: column;
        align-items: center;
        padding: 1em;
    }

    #section-2 .col {
        padding: 1em;
        width: 100%;
    }

    #section-2 .col:last-child {
        padding-left: 0em;
    }
}


/* Main- section 4 */
@media screen and (max-width: 768px) {
    #section-4 .col {
        width: 49%;
    }
}






/* Mobile > 480px */
/* Main - section 1 */
@media screen and (max-width: 480px) {
    #section-1 .columns > * {
        width: 100%;
    }

    #section-1 .col-special .box:first-child {
        text-align: center;
    }

    #section-1 .col-special .box:last-child {
        justify-content: center;
    }
}

/* Main - section 3 */
@media screen and (max-width: 480px) {
    #section-3 .card {
        flex-direction: column;
        justify-content: center;
        padding: 0.1em;
    }

    #section-3 .box {
        padding: 1em;
        display: flex;
        align-items: center;
    }

    #section-3 .box:last-child {
        width: 100%;
    }
}

/* Main - section 4 */
@media screen and (max-width: 480px) {
    #section-4 .col {
        width: 100%;
    }
}

/* Main - section 5 */
@media screen and (max-width: 480px) {
    #section-5 .columns {
        flex-direction: column;
        padding: 0.1em;
    }

    #section-5 .col:first-child {
        width: 100%;
        padding-bottom: 2em;
    }

    #section-5 .col:last-child {
        width: 100%;
        padding-bottom: 2em;
    }
}

/* Main - section 6 */
/* togliere margin-small */
/* togliere margin a p */

/* Footer */
/* togliere margin-small */
/* togliere margin a p */